autorizacao/src/main/mule/autorizacao-cogel.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ldap http://www.mulesoft.org/schema/mule/ldap/current/mule-ldap.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    
    <http:listener-config name="MobileAPP-Cogel-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="MobileAPP-Cogel-config"  outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" raml="api/autorizacao-cogel.raml"/>
    <configuration-properties doc:name="Configuration properties" doc:id="d5f15eca-8e60-4a00-ba84-9b37824dc9cc" file="configuration/config.yaml" />
	<ldap:config name="LDAP_Configuration" doc:name="LDAP Configuration" doc:id="5f08ee00-4cf5-4273-b6a1-5a5c8e92d855" >
		<ldap:basic-connection authDn="${ldap.dn}" authPassword="${ldap.password}" url="${ldap.url}:636" >
			<ldap:extended-configurations >
				<ldap:extended-configuration key="java.naming.ldap.factory.socket" value="org.mule.extension.ldap.internal.util.BypassTrustSSLSocketFactory" />
			</ldap:extended-configurations> 
		</ldap:basic-connection>
	</ldap:config> 
	<ldap:config name="LDAP_Configuration2" doc:name="LDAP Configuration" doc:id="2cfd68f0-253f-46b7-bd36-f084c821d84e" >
		<ldap:tls-connection authDn="${ldap.dn}"
                            authPassword="${ldap.password}" url="${ldap.fqdm_tls}">
		    <ldap:extended-configurations>
		        <ldap:extended-configuration key="org.mule.module.ldap.trustStorePath" value="${keystore.path}" />
		        <ldap:extended-configuration key="org.mule.module.ldap.trustStorePassword" value="${keystore.password}"     />
		    </ldap:extended-configurations>
		</ldap:tls-connection>
	</ldap:config>
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f73e33c4-d794-4f2d-93fb-9a7b331d5472" >
		<http:request-connection protocol="HTTPS" host="pocsemge.brazilsouth.cloudapp.azure.com">
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
		<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="c4d07a7e-9d66-48cd-b17a-6a7d8c5912c2">
		<email:smtp-connection host="${email.host}" port="${email.port}" user="${email.user}" password="${email.password}" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="MobileAPP-Cogel-main">
        <http:listener config-ref="MobileAPP-Cogel-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.status default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="MobileAPP-Cogel-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="8a282f70-8bf5-46cc-bccc-d177592dca2a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="MobileAPP-Cogel-console">
        <http:listener config-ref="MobileAPP-Cogel-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="MobileAPP-Cogel-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\signup:application\json:MobileAPP-Cogel-config">
        <logger level="INFO" doc:name="Logger" doc:id="7d5c9865-bb9b-4ddc-be53-e8c148c9972f" message='"inicio ${mule.home}/apps/${app.name}/server.jks"'/>
		<set-variable value='#["cn=" ++ payload.email  ++ ",ou=Cidadaos,dc=semge,dc=poc"]' doc:name="Set Variable" doc:id="7ced0c17-fe75-4abb-a11f-6475770efadd" variableName="dn"/>
		<set-variable value="#[payload.email]" doc:name="Set Variable" doc:id="cee4797d-6536-4833-8335-3c74f6fc3ee7" variableName="email"/>
		<ee:transform doc:name="Transform Message" doc:id="50287fc6-6ed3-4474-8a6d-63c076b158cc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

{
	dn : "cn=" ++ payload.email  ++ ",ou=Cidadaos,dc=semge,dc=poc",
	uid : payload.cpf ,
	userPrincipalName : payload.email,
	cn : payload.email,
	givenName: payload.nome,
	sn : payload.sobrenome,
	userPassword : payload.senha,
	mail : payload.email ,
	//novo campo username - Rubens 18-01, 10:46
	sAMAccountName: payload.username default payload.email,
	pwdLastSet: "-1",
	lockoutTime: "0",
	userAccountControl: "544",
	objectclass : ["top", "person", "organizationalPerson", "user"]
}

]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="294bf225-4ba7-4b92-b786-2ea097bf108b" message="#[payload]"/>
		<ldap:add doc:name="Add entry" doc:id="509aabd0-761c-4afa-880d-48b8ba789399" config-ref="LDAP_Configuration" structuralObjectClass="user"/>
		<logger level="INFO" doc:name="Logger" doc:id="521dd08d-969d-4b3f-adcd-21c552be54f5" message='#["fim"]'/>
		<email:send doc:name="Enviar e-mail" doc:id="ce340d9e-ee7a-4971-b336-dde9148b2137" config-ref="Email_SMTP" fromAddress="${email.from}" subject="Bem-vindo ao APP da Prefeitura!">
			<email:to-addresses>
				<email:to-address value="#[payload.mail]" />
			</email:to-addresses>
			<email:body contentType="text/plain" >
				<email:content ><![CDATA[#[%dw 2.0
output text/plain
---

"Sua conta foi criada com sucesso!  Obrigado por usar o nosso serviço. Atenciosamente, Cogel"]]]></email:content>
			</email:body>
		</email:send>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b46d176f-c80a-40ae-92da-8b74ae3771fa">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Cadastro concluído com sucesso. Você pode fazer login com suas credenciais."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2299fab0-0b7d-4c51-a1cc-85ebfab7a2b9" type="LDAP:CONTEXT_NOT_EMPTY, LDAP:INVALID_ATTRIBUTE, LDAP:INVALID_ENTRY, LDAP:NAME_ALREADY_BOUND, LDAP:NAME_NOT_FOUND, LDAP:OPERATION_NOT_SUPPORTED, LDAP:PERMISSION, LDAP:RETRY_EXHAUSTED, LDAP:UNKNOWN, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
				<logger level="INFO" doc:name="Logger" doc:id="dca586d1-8923-4752-b4c3-978ee8026ec9" message='#["nao foi cadastrado - erro na criacao!"]' />
				<set-variable value="403" doc:name="Set Variable" doc:id="0bcf260b-0ff6-40b3-b0f9-f1395c11878d" variableName="status"/>
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="6efb2d5a-e684-4808-a640-dffdfd60767f" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  message: "Não foi possivel efetuar o cadastro. Usuário inválido ou já existente."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform> 
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="53daff43-6212-4e4b-ba2b-35ff8c37305c" type="EMAIL:CONNECTIVITY, EMAIL:RETRY_EXHAUSTED, EMAIL:SEND">
				<logger level="INFO" doc:name="Copy_of_Logger" doc:id="37cd2976-bef3-4126-a008-b5f8c2826e46" message='#["cadastrado criado - erro no email!"]' />
				<ee:transform doc:name="Copy_of_Copy_of_Transform Message" doc:id="2d24177b-ac6f-43bb-8d18-925c57a930e9" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Sua conta foi criada, mas por algum motivo não conseguimos enviar um e-mail para você!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="Copy_of_On Error Continue" doc:id="506f9b7b-08ba-4b23-b44b-bf712d5fed91" type="LDAP:COMMUNICATION, LDAP:CONNECTIVITY" >
				<logger level="INFO" doc:name="Copy_of_Logger" doc:id="2fce1f90-fddf-41c9-9711-5fddb39ab6a8" message='#["erro na conexao!"]' />
				<set-variable value="500" doc:name="Copy_of_Set Variable" doc:id="96dcb3fb-73fc-4415-bb3a-74eecb66d1de" variableName="status" />
				<ee:transform doc:name="Copy_of_Copy_of_Transform Message" doc:id="a22e1c8f-aebf-44cc-8e64-3b8db51d2f03" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
  message: "Erro, por favor tente mais tarde!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler> 
    </flow>
	<flow name="post:\token:application\json:MobileAPP-Cogel-config">
		<ee:transform doc:name="Transform Message" doc:id="3f2b3458-da1a-4433-bb07-5a386d5ac5bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::URL
output application/x-www-form-urlencoded

---
{
	username: payload.username,
	password: payload.password,
	grant_type: "password",
	client_id: "2620308e-92b6-4bb3-96f8-15b734406c74",
	client_secret: "Xed8jE0ZNdxg_E5Pcq6Gjx07lIfPIiUFo7g0r8wc"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="7a0ee3a9-4a2a-4072-acde-35389e1bc1ac" path="/adfs/oauth2/token" config-ref="HTTP_Request_configuration">
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5109a3c0-a15b-4436-b42b-b178cd403d69">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\userinfo\(email):MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="641944dc-8630-4684-81a1-2615606405f4">
            <ee:variables>
                <ee:set-variable variableName="email"><![CDATA[attributes.uriParams.'email']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ldap:lookup doc:name="Lookup" doc:id="39fea4fc-f412-4dee-b434-eb2e2f003035" config-ref="LDAP_Configuration" dn="#[&quot;cn=&quot; ++ attributes.uriParams.'email' ++ &quot;,ou=Cidadaos,dc=semge,dc=poc&quot;]"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5d1ebbe3-5d14-472b-a7cc-b4ac87b411e9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

---
{
  nome: payload.givenName,
  sobrenome: payload.sn,
  username: payload.sAMAccountName,
  cpf: payload.uid,
  email: payload.mail
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\services:MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="000cd4ef-e8a9-4511-9465-de09fed55337">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "1",
    icon: "ribbon",
    label: "Certificado Digital",
    acao: "./"
  }, 
  {
    id: "2",
    icon: "car",
    label: "Veículos e Condutores",
    acao: "./"
  }, 
  {
    id: "3",
    icon: "person",
    label: "Emissão de Carteira de Identidade",
    acao: "./"
  }, 
  {
    id: "4",
    icon: "book",
    label: "Educação",
    acao: "./"
  }, 
  {
    id: "5",
    icon: "medkit",
    label: "Saúde",
    acao: "./"
  }, 
  {
    id: "6",
    icon: "unlock",
    label: "Segurança",
    acao: "./"
  }, 
  {
    id: "7",
    icon: "bus",
    label: "Rodovias e Transportes",
    acao: "./"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\favorites:MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "1",
    icon: "ribbon",
    label: "Certificado Digital",
    acao: "./"
  }, 
  {
    id: "2",
    icon: "car",
    label: "Veículos e Condutores",
    acao: "./"
  }, 
  {
    id: "3",
    icon: "person",
    label: "Emissão de Carteira de Identidade",
    acao: "./"
  }, 
  {
    id: "4",
    icon: "book",
    label: "Educação",
    acao: "./"
  }, 
  {
    id: "5",
    icon: "medkit",
    label: "Saúde",
    acao: "./"
  }, 
  {
    id: "6",
    icon: "unlock",
    label: "Segurança",
    acao: "./"
  }, 
  {
    id: "7",
    icon: "bus",
    label: "Rodovias e Transportes",
    acao: "./"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\logout:MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9f096550-e9f5-4764-ab18-b7f21206e84a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "O usuário realizou logout com sucesso."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\groups\(email):MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="fb4fd156-5653-481d-8e7f-43509525ce13">
            <ee:variables>
                <ee:set-variable variableName="email"><![CDATA[attributes.uriParams.'email']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ldap:lookup doc:name="Lookup" doc:id="5a30b1ab-09a7-46c7-8bab-968898edebc0" config-ref="LDAP_Configuration" dn="#[&quot;cn=&quot; ++ attributes.uriParams.'email' ++ &quot;,ou=Cidadaos,dc=semge,dc=poc&quot;]"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="80ab4ecd-9ab0-4735-bdc3-1d8a7e6c39c1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

---  
{
	groups: payload.memberOf
	
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
