autorizacao/src/main/mule/autorizacao-cogel.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ldap http://www.mulesoft.org/schema/mule/ldap/current/mule-ldap.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    
    <http:listener-config name="MobileAPP-Cogel-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="MobileAPP-Cogel-config"  outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" raml="autorizacao-cogel.raml"/>
    <configuration-properties doc:name="Configuration properties" doc:id="d5f15eca-8e60-4a00-ba84-9b37824dc9cc" file="configuration/config.yaml" />
	<ldap:config name="LDAP_Configuration" doc:name="LDAP Configuration" doc:id="abbe3c98-ec9c-43f3-8c03-24e0a0efaeb1" >
		<ldap:basic-connection authDn="${ldap.dn}" authPassword="${ldap.password}" url="${ldap.url}" />
	</ldap:config>
	<ldap:config name="LDAP_Configuration2" doc:name="LDAP Configuration" doc:id="2cfd68f0-253f-46b7-bd36-f084c821d84e" >
		<ldap:tls-connection authDn="${ldap.dn}"
                            authPassword="${ldap.password}" url="${ldap.fqdm_tls}">
		    <ldap:extended-configurations>
		        <ldap:extended-configuration key="org.mule.module.ldap.trustStorePath" value="${keystore.path}" />
		        <ldap:extended-configuration key="org.mule.module.ldap.trustStorePassword" value="${keystore.password}"     />
		    </ldap:extended-configurations>
		</ldap:tls-connection>
	</ldap:config>
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f73e33c4-d794-4f2d-93fb-9a7b331d5472" >
		<http:request-connection protocol="HTTPS" host="pocsemge.brazilsouth.cloudapp.azure.com">
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="MobileAPP-Cogel-main">
        <http:listener config-ref="MobileAPP-Cogel-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="MobileAPP-Cogel-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="MobileAPP-Cogel-console">
        <http:listener config-ref="MobileAPP-Cogel-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="MobileAPP-Cogel-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\signup:application\json:MobileAPP-Cogel-config">
        <logger level="INFO" doc:name="Logger" doc:id="7d5c9865-bb9b-4ddc-be53-e8c148c9972f" message='"inicio ${mule.home}/apps/${app.name}/server.jks"'/>
		<set-variable value='#["cn=" ++ payload.email  ++ ",ou=Cidadaos,dc=semge,dc=poc"]' doc:name="Set Variable" doc:id="7ced0c17-fe75-4abb-a11f-6475770efadd" variableName="dn"/>
		<ee:transform doc:name="Transform Message" doc:id="50287fc6-6ed3-4474-8a6d-63c076b158cc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

{
	dn : "cn=" ++ payload.email  ++ ",ou=Cidadaos,dc=semge,dc=poc",
	uid : payload.cpf ,
	userPrincipalName : payload.email,
	cn : payload.email,
	givenName: payload.nome,
	sn : payload.sobrenome,
	userPassword : payload.senha,
	mail : payload.email ,
	pwdLastSet: "-1",
	lockoutTime: "0",
	//unicodePwd: Toolbox::getUnicodePwd(payload.senha),
	userAccountControl: "544",
	objectclass : ["top", "person", "organizationalPerson", "user"]
}

]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="294bf225-4ba7-4b92-b786-2ea097bf108b" message="#[payload]"/>
		<ldap:add doc:name="Add entry" doc:id="509aabd0-761c-4afa-880d-48b8ba789399" config-ref="LDAP_Configuration2" structuralObjectClass="user"/>
		<logger level="INFO" doc:name="Logger" doc:id="521dd08d-969d-4b3f-adcd-21c552be54f5" message='#["fim"]'/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b46d176f-c80a-40ae-92da-8b74ae3771fa">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Cadastro concluído com sucesso. Você pode fazer login com suas credenciais."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d94bad48-9799-4957-806c-405819c7cc22" type="LDAP:NAME_ALREADY_BOUND">
				<logger level="INFO" doc:name="Logger" doc:id="dca586d1-8923-4752-b4c3-978ee8026ec9" message='#["nao foi cadastrado - erro!"]' />
				<ldap:modify-single-value-attribute doc:name="Alterar a senha (novasenha)" doc:id="ce3ef16e-9763-4ac4-834f-737f67fb34b5" config-ref="LDAP_Configuration2" dn="#[vars.dn]" attributeName="userPassword" attributeValue="123mudar" />
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="6efb2d5a-e684-4808-a640-dffdfd60767f" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Nao foi possivel efetuar o cadastro."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<flow name="post:\token:application\json:MobileAPP-Cogel-config">
		<ee:transform doc:name="Transform Message" doc:id="3f2b3458-da1a-4433-bb07-5a386d5ac5bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::URL
output application/x-www-form-urlencoded

---
{

	grant_type: "client_credentials",
	client_id: "2620308e-92b6-4bb3-96f8-15b734406c74",
	client_secret: "Xed8jE0ZNdxg_E5Pcq6Gjx07lIfPIiUFo7g0r8wc"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="7a0ee3a9-4a2a-4072-acde-35389e1bc1ac" path="/adfs/oauth2/token" config-ref="HTTP_Request_configuration">
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5109a3c0-a15b-4436-b42b-b178cd403d69">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"access_token": payload.access_token,
    "token_type": payload.token_type,
    "expires_in": payload.expires_in
    }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\userinfo\(email):MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="641944dc-8630-4684-81a1-2615606405f4">
            <ee:variables>
                <ee:set-variable variableName="email"><![CDATA[attributes.uriParams.'email']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ldap:lookup doc:name="Lookup" doc:id="39fea4fc-f412-4dee-b434-eb2e2f003035" config-ref="LDAP_Configuration" dn="#[&quot;cn=&quot; ++ attributes.uriParams.'email' ++ &quot;,ou=Cidadaos,dc=semge,dc=poc&quot;]"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5d1ebbe3-5d14-472b-a7cc-b4ac87b411e9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::core::Strings
---
{
  nome: substringBefore(payload.userPrincipalName, "."),
  sobrenome: payload.sn,
  cpf: payload.uid,
  email: payload.mail,
  senha: payload.userPassword,
  termos: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\services:MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="000cd4ef-e8a9-4511-9465-de09fed55337">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "1",
    icon: "ribbon",
    label: "Certificado Digital",
    acao: "./"
  }, 
  {
    id: "2",
    icon: "car",
    label: "Veículos e Condutores",
    acao: "./"
  }, 
  {
    id: "3",
    icon: "person",
    label: "Emissão de Carteira de Identidade",
    acao: "./"
  }, 
  {
    id: "4",
    icon: "book",
    label: "Educação",
    acao: "./"
  }, 
  {
    id: "5",
    icon: "medkit",
    label: "Saúde",
    acao: "./"
  }, 
  {
    id: "6",
    icon: "unlock",
    label: "Segurança",
    acao: "./"
  }, 
  {
    id: "7",
    icon: "bus",
    label: "Rodovias e Transportes",
    acao: "./"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\favorites:MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "1",
    icon: "ribbon",
    label: "Certificado Digital",
    acao: "./"
  }, 
  {
    id: "2",
    icon: "car",
    label: "Veículos e Condutores",
    acao: "./"
  }, 
  {
    id: "3",
    icon: "person",
    label: "Emissão de Carteira de Identidade",
    acao: "./"
  }, 
  {
    id: "4",
    icon: "book",
    label: "Educação",
    acao: "./"
  }, 
  {
    id: "5",
    icon: "medkit",
    label: "Saúde",
    acao: "./"
  }, 
  {
    id: "6",
    icon: "unlock",
    label: "Segurança",
    acao: "./"
  }, 
  {
    id: "7",
    icon: "bus",
    label: "Rodovias e Transportes",
    acao: "./"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\logout:MobileAPP-Cogel-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9f096550-e9f5-4764-ab18-b7f21206e84a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "O usuário realizou logout com sucesso."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
